.my-header{
    font-family: 'Roboto', sans-serif;
}
.my-header .bb{
    font-size: 1.6rem;
    font-weight: 600;
}
.my-header .fa-graduation-cap{
    color: red;
}
.header-manu .nav-link {
    font-size: 1.1rem;
   
}

/* slider-section */
/* slider-section */
.slider-section {
    background: url("https://i.ibb.co/p0tMkMy/ia-200000012.jpg") center no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    position: relative;
    z-index: 1;
}
.slider-section::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.363);
    z-index: -1;
}
.slider-section .text-section1 {
    margin-top: 20rem;
    margin-bottom: 20rem;
    
}   
.slider-section .text-section1 h5{
    color: #fff;
    
}
.slider-section .text-section1 h1{
    color: #fff;
    line-height: 5rem;
    font-weight: 600;
}

/* .start-teaching */
/* .start-teaching */

.start-teaching {
    background-color: #F7F9FF;
    padding: 5rem 0;
    font-family: 'Roboto', sans-serif;

}
.start-teaching .text-section2 h2{
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-top: 5.5rem;
}
.start-teaching .text-section2 p{
    font-size: 1.2rem;
    color: #232323;
    line-height: 2rem;
}
.img-section1 {
    height: 15rem;
    width: 15rem;
}


/* top-popular */
/* top-popular */
.top-popular {
    font-family: 'Roboto', sans-serif;
    padding: 4rem 0;
}
.top-popular .card{
    border: none;
    box-shadow: 2px -1px 3px #00000029;
}
.padding {
    padding: 1rem;
}
.padding h5{
    font-size: 1rem;
    font-weight: 600;
}
/* programes */
/* programes */
.programes {
    background-color: #F7F9FF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 3rem 0;
}
.programes .text-section5 span{
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;

}
/* img-section2 */
/* img-section2 */
.our-teachers {
    font-family: 'Roboto', sans-serif;
    padding: 1rem 0;
}
.img-section2{
    padding: .5rem;
}